meta(charset = 'UTF-8') 
meta(http - equiv = 'x-ua-compatible', content = 'ie=edge') 
title Lichee Yeh | Digital Designer
// facebook share
meta(property = 'og:type', content = 'website') 
meta(property = 'og:title', content = 'Lichee Yeh | Digital Designer') 
meta(property = 'og:description', content = 'I am Lichee Yeh, a digital designer based in Taipei,Taiwan.') 
meta(property= 'og:image', content="https://github.com/lichee-yeh/2018-portfolio/img/share.png")
meta(name="copyright" content="© 2018 Lichee Yeh, all rights reserved")
meta(property = 'og:site_name', content = 'Lichee Yeh | Digital Designer') 
meta(property = 'og:url', content = '') 
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
meta(name='format-detection' content='telephone=no')
// favicon
link(rel = 'icon', href = 'img/favicon.ico')
// css style
link(rel = 'stylesheet', href = 'css/style.css')
//if gt IE 9
script(src = 'js/vendor/html5shiv.js')
script(src = 'js/vendor/jquery-3.2.1.min.js')
script.
	(function(d) {
		var config = {
			kitId: 'llx6vpt',
			scriptTimeout: 3000,
			async: true
		},
		h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
	})(document);


// Junxiang
//css
link(rel = 'stylesheet', href = 'css/vendor/animate.css')
//js
script(src = './js/vendor/is.min.js')
script(src = './js/vendor/wow.min.js')
script(src = './js/vendor/scrollreveal.min.js')
script(src = './js/vendor/TweenMax.min.js')
script(src = './js/vendor/ScrollMagic.min.js')

script(src = './js/_Shared.min.js')
script(src = './js/Header.min.js')


////////////

block head